<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
  <title>Get started with AlphaMetricX</title>
</head>

<body>

  <table width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center">
        <table width="70%" cellspacing="0" cellpadding="20" style="border: 2px solid black;">
          <tr>
            <td>
              <img src="https://amx-images.s3.us-west-1.amazonaws.com/DarkLogo.svg" alt="icon" width="30" />
              <h3 style="color: #0A0A0A; font-size: 1rem; font-weight: 600;">AlphametricX</h3>
              <h1 style="color: #000; font-size: 2.2rem; font-weight: 700;">Get started with AlphametricX</h1>
            </td>
          </tr>
          <tr>
            <td align="center">
              <img src="https://amx-images.s3.us-west-1.amazonaws.com/email+template.png" alt=""
                style="width: 100%; height: auto;" />
            </td>
          </tr>
          <tr>
            <td>
              <h5 style="color: #000; font-size: 1rem; font-weight: 700;">Dear {{first_name}}</h5>
              <b>Thank you for choosing us as your listening partner.</b>
              <p>
                At AlphametricX we are committed to providing you with best experience and ensure you get
                the most out of our platform.
                To help you get started, here are a few key things you can do right away:
              </p>
              <p>1. Complete your Profile Explore</p>
              <p>2. Explore Our Features</p>
              <p>3. See Tutorials & Documentation</p>
              <p>
                For any questions or issues, you can reach out to our support team at _________.
              </p>
              <p>
                AlphametricX is not just another listening tool. It is your own workspace that you can customize as per
                your needs.
              </p>
              <br />
              <b> So get started today!</b>
              <p>We hope you'll find our service easy and convenient to use. If you need help or have any questions, check out our Help & FAQs or Contact US.</p>
              <p>We hope you have a good experience with AlphametricX!</p>
            </td>
          </tr>
          <tr style="background-color: #ECEFF3;">
            <td>
              <p
                style="color: #000; font-size: 0.9rem; font-style:normal; font-weight:700; line-height:1.5rem; letter-spacing: -0.15px">
                Copyright 2023 Alphametricx inc. All rights reserved.
              </p>
              <p
                style="color: #000; font-size: 0.9rem; font-style:normal; font-weight:700; line-height:1.5rem; letter-spacing: -0.15px">
                We are located at 800 E Campbell Road, Suite 288 Richardson, Dallas, Texas - 75081
              </p>
              <table>
                <tr>
                  <td>
                    <img src="https://amx-images.s3.us-west-1.amazonaws.com/linkedin-svgrepo-com+1.svg" alt="LinkedIn"
                      style="width: 1.5rem; height:1.5rem; align-items: center; border-radius: 4px; background: #696e74;" />
                  </td>
                  <td>
                    <img src="https://amx-images.s3.us-west-1.amazonaws.com/logo+1.svg" alt="Twitter"
                      style="width: 1.5rem; height:1.5rem; align-items: center; border-radius: 4px; background: #696e74;" />
                  </td>
                </tr>
              </table>
              <table
                style="color: #000; font-size: 0.9rem; font-style:normal; font-weight:700; line-height:1.5rem; letter-spacing: -0.15px">
                <tr>
                  <td>
                    Privacy policy • Contact us
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>