<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
  <title>Your password has been successfully reset</title>
</head>

<body>

  <table width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center">
        <table cellspacing="0" cellpadding="20" style="border: 2px solid black;">
          <tr>
            <td>
              <h3 style="color: #0A0A0A; font-size: 1rem; font-weight: 600;">Renuka ERP</h3>
              <h1 style="color: #000; font-size: 2.2rem; font-weight: 700;">Your password has been successfully reset
              </h1>
              <h5
                style="color: #000; font-size: 1rem; font-style:normal; font-weight:700; line-height:1.5rem; letter-spacing: -0.15px">
                Dear {{ first_name }}
              </h5>
              <p style="color: #000; font-size: 0.9rem; font-style:normal; font-weight:700;">
                Thank you for choosing us as your listening partner.
              </p>

              <p style="color: #000; font-size: 0.9rem; font-style:normal; font-weight:700; ">
                You can now login to your Renuka ERP account using your new credentials.
              </p>
              <br />
              <p style="color: #000; font-size: 0.9rem; font-weight: 700;">
                We hope you'll find our service easy and convenient to use.
                <br />If you need help or have any questions, check out our Help & FAQs or Contact US.
              </p>
              <p style="color: #000; font-size: 0.9rem; font-weight: 700;">
                We hope you have a good experience with Renuka ERP!
              </p>
            </td>
          </tr>
          <tr style="background-color: #ECEFF3;">
            <td>
              <p
                style="color: #000; font-size: 0.9rem; font-style:normal; font-weight:700; line-height:1.5rem; letter-spacing: -0.15px">
                Copyright 2023 Renuka. All rights reserved.
              </p>
              <table
                style="color: #000; font-size: 0.9rem; font-style:normal; font-weight:700; line-height:1.5rem; letter-spacing: -0.15px">
                <tr>
                  <td>
                    Privacy policy • Contact us
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>